.fullscreen {
    width: 100vw;
    height: 100vh;
}

.red {
    background: #ff8a80;
}

.blue {
    background: #acdeff;
}

.green {
    background: greenyellow;
}

.yellow {
    background: yellow;
}
